:root{
    --blue: hsl(214, 100%, 55%);
    --blue-hover: hsl(210, 100%, 65%);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.sign-in-box,
.sign-up-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

img {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin-bottom: 10px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.sign-in-btn,
.sign-up-btn {
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: White;
    font-size: 17px;
    background-color: var(--blue);
    transition: all 0.2s;
}

.sign-in-btn:hover,
.sign-up-btn:hover {
    background-color: var(--blue-hover);
}

